.top-elements-of-landing-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.cart-and-logout-icons {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;
}
.cart,
.logout-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.cart-text {
    font-size: 0.8rem;
    margin-right: 1rem;
}
