.top-elements-of-landing-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.cart-and-logout-icons {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;
}
.cart,
.logout-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.cart-text {
    font-size: 0.8rem;
    margin-right: 1rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }