button {
    margin: 0px 10px;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
  }
  .incrementButton {
    background-color: rgb(6, 172, 0);
  }
  .decrementButton {
    background-color: rgb(221, 52, 66);
  }
  .decrementButton:disabled {
    background-color: rgb(193, 191, 191);
    cursor: not-allowed;
  }

.cartPage {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.cartItems {
  display: flex;
  flex-direction: column;
  
}

/* QUANTIFIER COMPONENT CSS */

.quantifier {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: auto;
  padding-bottom: 3%;
}

.quantifier img,
.quantifier button {
  height: 2rem;
  background-color: #fff;
}

.quantity-input{
  min-width: 1rem;
  margin-top: 8px;
  text-align: center;
}